# ansible/roles/aws-cli/templates/credentials.j2
# AWS CLI credentials file

[default]
aws_access_key_id = {{ aws_access_key_id }}
aws_secret_access_key = {{ aws_secret_access_key }}
{% if aws_session_token is defined %}
aws_session_token = {{ aws_session_token }}
{% endif %}

{% for profile in aws_credential_profiles | default([]) %}
[{{ profile.name }}]
aws_access_key_id = {{ profile.access_key_id }}
aws_secret_access_key = {{ profile.secret_access_key }}
{% if profile.session_token is defined %}
aws_session_token = {{ profile.session_token }}
{% endif %}

{% endfor %}
